#horizentalMenu {
    float: center;
}
ul {
    list-style: none;
}

li {
    display: inline;
}

table {
    border-collapse: collapse;
}

table, td {
    border: 1px black solid;
}
